
ul {
list-style-type: none;
margin: 0;
padding: 0;
}

li a {
display: block;
width: 200px;
background-color: #ffffff;
color: #000000;
padding: 8px 16px;
text-decoration: none;
}

li a:hover {
background-color: #e3aadd;
color: rgb(0, 0, 0);
}


